.landing{
    width: 100%;
    height: 95vh;
    overflow: hidden;
    position: relative;
}
.landing__vector{
position: absolute;
left: 3.82%;
right: 78.06%;
top: 19.53%;
bottom: 63.09%;
background: #6A70FC;
filter: blur(75px);
transform: matrix(-1, 0, 0, 1, 0, 0);
}
.landing__text--container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}
.landing__text{
    color: #434343;
    font: 400 36px Poppins;
}

.landing__text  span{
    color: #000000;
    font-family: 600;
}
.landing__para{
    margin-top: 40px;
    color: #616161;
    font-size: 18px;
}
.landing__para span{
    color: #000000;
}
.landing__btn{
    margin-top: 60px;
    padding: 5px 40px;
    font-size: 20px;
    outline: none;
    border: 1px solid #000AFF;
    background-color: #000AFF;
    color: #fff;
    border-radius: 10px;
    font-family: Roboto;
}
.landing__message{
    margin-top: 10px;
    color: #616161;
    font-family: Poppins;
    font-size: 15px;
}
.landing__message span{
    color: #000000;
    text-decoration: underline;
    font-weight: 400;
    font-family: Poppins;
    cursor: pointer;
}

.landing__vector--blob{
/* blob (1) 1 */

position: absolute;
width: 786px;
height: 786px;
left: 886px;
top: 631px;

filter: blur(150px);


/* Vector */

position: absolute;
left: 85.2%;
right: 12.64%;
top: 78.38%;
bottom: 18.33%;

background: #000AFF;
overflow: hidden;

}

@media (max-width:700px){
    .landing__text{
        font-size: 20px;
        
    }
    
    .landing__para{
        font-size: 12px;
    }
    .landing__btn{
        font-size: 15px;
    }
}
@media (min-width:800px) and (max-width:1000px){
    .landing__text{
        font-size: 30px;
        width: 100%;
    }
    
    .landing__para{
        font-size: 15px;
    }
    .landing__btn{
        font-size: 15px;
    }
}