header{
    width: 100%;
    background-color: #F0F1FF;
    
}
.navAuth__heading{
    font-family: Poppins;
    font-size: 30px;
    line-height: 60px;
    color: #000000;
    
    margin-left: 40px;
    font-weight: 500;
   
}
.navAuth__heading span{
    color: #000AFF;
}

@media (max-width:600px){
    .navAuth__heading{
        text-align: center;
        margin-left: -20px;
    }
    
}