.nav{
    width: 100%;
    background-color: aqua;
    display: flex;
    
}
.nav__heading{
    font-family: Poppins;
    font-size:30px ;
    height: 53px;
    margin-top: 16px;
    margin-left: 61px;
}
.nav__heading span{
    color: #000AFF;
}
.nav__menu{
    display: flex;
    
    margin-left: 800px;
    margin-top: 20px;
}