.landing__vector{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin-top: 30px;
    margin-left: 50px;
    filter: drop-shadow(10px 20px 5px #6A70FC);
    border-radius: 50%;
}